<div class="w-full">
    <h2 class="text-center text-3xl">Register</h2>

    <%= form_with model: @user do |form| %>

        <% if @user.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3 max-w-100">
                <h2><%= @user.errors.count %> prevented updating this user:</h2>

                <ul>
                    <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="mt-20 w-full flex flex-col items-center">
            <%= image_tag "pfp.jpg", class: "w-36 rounded-full border-black border-1" %>
            
            <div class="mt-5 flex flex-col items-center">
                <%= form.text_field :username, placeholder: "Username", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
                <%= form.email_field :email_address, placeholder: "E-Mail", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>

                <%= form.password_field :password, placeholder: "Password", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
                <%= form.password_field :password_confirmation, placeholder: "Password confirmation", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
            </div>
        </div>

        <div class="w-full mt-24 flex items-center justify-around">
            <%= form.submit "Sign up", class: "w-34 h-14 bg-[#0088DD] hover:bg-[#0088FF] rounded-2xl text-2xl text-white flex justify-center items-center" %>
        </div>
    <% end %>
</div>