<div id="<%= dom_id ingredient %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= ingredient.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= ingredient.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dosage:</strong>
    <%= ingredient.dosage %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= ingredient.rating %>
  </div>
</div>
