<div class="w-full flex flex-col items-center">
  <h1 class="text-4xl text-center">Welcome to Sillyfox</h1>

  <%= form_with url: root_path, method: :get, data: { turbo_frame: "ingredients" }, class: "mt-12 bg-gray-300 w-100 h-28 px-2 pt-2 pb-5 rounded-2xl flex flex-col justify-between" do |form| %>
    <span class="text-xl">Search</span>
    
    <div class="flex items-center px-5">
      <%= form.text_field :query, placeholder: "Beta-alanine...", class: "bg-white rounded-2xl px-2 h-[2em] w-full" %>
      <button type="submit" class="ml-4">
        <%= image_tag "icons/search.svg", class: "h-[1.5em]" %>
      </button>
    </div>
  <% end %>

  <%= turbo_frame_tag "ingredients", class: "mt-12 w-full grid grid-cols-2 md:grid-cols-3 gap-3 md:gap-4" do %>
    <% if @searched %>
        <% if @ingredients.empty? %>
          <h3 class="text-xl text-center w-full col-span-2">Your search returned no ingredients...</h3>
        <% else %>
          <% @ingredients.each do |ingredient| %>
            <div id="<%= dom_id ingredient %>" class="bg-gray-200 drop-shadow-xl flex flex-col items-center rounded-2xl px-1 py-2">
              <h4 class="text-xl text-center"><%= ingredient.name %></h4>
              <p>Dosage: <%= ingredient.dosage %></p>
              <%= link_to "View", ingredient, target: "_top", class: "mt-2 w-28 h-12 bg-[#0088DD] hover:bg-[#0088FF] rounded-2xl text-2xl text-white flex justify-center items-center" %>
            </div>
          <% end %>
        <% end %>
    <% end %>
  <% end %>

  <% if authenticated? %>
    <div class="mt-12 w-full grid grid-cols-2 md:grid-cols-3 gap-3 md:gap-4">
      <h3 class="text-xl text-center w-full col-span-2">Your favorite ingredients</h3>
      <% Current.user.favorite_ingredients.each do |ingredient| %>
        <div id="<%= dom_id ingredient %>" class="bg-gray-200 drop-shadow-xl flex flex-col items-center rounded-2xl px-1 py-2">
          <h4 class="text-xl text-center"><%= ingredient.name %></h4>
          <p>Dosage: <%= ingredient.dosage %></p>
          <%= link_to "View", ingredient, target: "_top", class: "mt-2 w-28 h-12 bg-[#0088DD] hover:bg-[#0088FF] rounded-2xl text-2xl text-white flex justify-center items-center" %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
